<%= render layout: "ric_admin/layouts/with_right_side" do %>
	<%= rug_show_table_for(@product_ticker, { 
		name: :string,
		key: :enum
	}) %>
	<% if @product_ticker.products.count > 0 %>
		<h3><%= t("headers.ric_assortment.admin_product_tickers.products") %></h3>

		<%= rug_index_table_for(@product_ticker.products.order(position: :asc), { 
			name: :string,
			default_product_category: { type: :belongs_to, label: :name },
			content: { type: :text, strip_tags: true },
			amount: :string,
			price: :integer
		}, paths: {
			show: :product_path,
			destroy: lambda { |product| unbind_product_product_ticker_path(id: @product_ticker.id, product_id: product.id) }
		}) %>
	<% end %>

<% end %>