<% if !flash[:alert].blank? %>
	<div class="flash danger alert">
		<%= flash[:alert] %>
	</div>
<% end %>
<% if !flash[:notice].blank? %>
	<div class="flash success alert">
		<%= flash[:notice] %>
	</div>
<% end %>