<ul class="login-info">
	<% if user_signed_in? %>
		<li><%= link_to current_user.email, ric_account.account_user_path %></li>
		<li class="icon-right icon-logout"><%= link_to t("devise.action.sign_out").downcase, '/users/sign_out', method: :delete %></li>
	<% else %>
	<% end %>
</ul>