default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: babidlo_development
  username: postgres
  password: vagrant

production:
  <<: *default
  database: babidlo_production
  username: postgres
  password: secret
