<div class="layout with-right-side">
	<div class="content">

		<%= render partial: "ric_admin/shared/flash" %>
		<%= yield %>

	</div>
	<div class="side">
		
		<h2><%= t("headers.actions") %></h2>
		<%= render partial: "devise/shared/actions" %>

	</div>
</div>