<div class="row">
	<div class="seven columns"><%= f.text_input_row :title, :text_field, label: false %></div>
	<div class="four columns"><%= f.picker_row :color, nil, :value, :label, label: false %></div>
	<div class="one column right-on-pc"><div class="medium danger btn icon-left icon-cancel"><%= f.remove_nested_fields_link "" %></div></div>
</div>