<p>Dobrý den,</p>

<p>na stránce <%= main_app.root_url %> bylo zažádáno o obnovu hesla. Pokud jste o obnovu žádal Vy, pokračujte kliknutím na následující odkaz:</p>

<p><%= link_to 'Obnovit heslo', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Pokud jste o obnovu nežádal, tuto zprávu ignorujte. V takovém případě nebude Vaše heslo změněno.</p>
