<div class="facebook">
	<% url = setting_get("restaurant_facebook") %>

	<div class="fb-page" 
		data-href="https://www.facebook.com/Hostinec-U-T%C5%99%C3%AD-p%C3%ADrek-212053598870411/" 
		data-width="325" 
		data-small-header="true" 
		data-adapt-container-width="true" 
		data-hide-cover="true" 
		data-show-facepile="true"
	></div>

</div>
