/*****************************************************************************/
/* Variables                                                                 */
/*****************************************************************************/

/* Font size */
$base-font-size: 14px;
$base-line-height: 1.5em;

$tablet-width: 768px;
$mobile-width: 320px;
$main-width: 1020px;
$big-1280-width: 1280px;
$big-1920-width: 1920px;

$green: #437a7e;
$light-green: #57979c;
$grey: #595959;
$orange: #c84828;